*/__pycache__/
*/cache/
*/wav/
*/plots/
__pycache__/
cache/
wav/
plots/
*.npy 
*output.mid
*.png
src/midi
src/cache 
src/src/*
!src/*.py
src/*.json
# ignore any .keras files anywhere in the repository
.keras
*/.keras
*.keras
#ignore all __pycache__ files
__pycache__/
